body {
    background-color: #f6dab9;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(187, 175, 175);
    border-width: 5px;
    width: 5%;
}
img {
    
    height: 150px;
    width: 150px;
}
h1{
    color:#f7a036;
}
h3{
    color:#f7a036;
}
